* {
  margin: 0;
}

/* TAGS */

body {
  background-image: linear-gradient(to bottom right, #0A5DA4, #062958);
  font-size: 16px;
  color: #fafafa;
  font-family:Roboto, sans-serif;
}

h1 {
  color: #fafafa;
  font-size: 36px;
}

a {
  text-decoration: none;
}

/* PRESENTATION */

div #front-phrase h1 {
  color: #212121;
  font-size: 4em;
  max-width: 500px;
}

div #front-phrase {
  left: 50%;
  position: absolute;
  top: 380px;
  z-index: 2;
}

div #front-img {
  left: 15%;
  position: absolute;
  top: 200px;
  z-index: 1;
}

div.presentation img.clouds {
  bottom: 0%;
  border: 0;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: absolute;
}

/* NAVBAR */

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background-color: #fafafa;
  box-shadow: 2px 1px 2px 2px #21212157;
  size: 100%;
  margin: 0px;
}

.nav-bar a {
  color: #212121;
  z-index: 5;
}

.nav-bar ul {
  align-items: center;
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding: 15px;
  text-align: center;
  left: 40px;

}

nav.nav-bar li {
  position: absolute;
  left: 40px;
  top: 40px;

}

div.flags {
  display: flex;
  justify-content: space-between;
}

div.flags img {
  margin: 0px 10px;
  max-width: 35px;
}

div.flags #br {
  opacity: 40%;
}

div.flags #br:hover {
  opacity: 100%;
}

.presentation {
  background-color: #26BAF5;
  height: 100vh;
}

.front-art {
  display: flex;
  padding: 40px;
}

.front-art img {
  max-width: 500px;
}

.my-name {
  color: #fafafa;
  margin: 10px 20px;
}

.my-photo {
  border-radius: 100%;
  box-shadow: 3px 2px 2px #21212125;
  max-width: 250px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: #fafafa;
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 15px;
}
/* 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #2121213b;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 15px;
  box-shadow: inset 0 0 5px #00000033;
}
 */