* {
  margin: 0;
}

/* TAGS */

body {
  background-image: linear-gradient(white, #ececec);
  font-family:Roboto, sans-serif;
}

h1 {
  color: #062958;
  font-size: 36px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CLASSES */

.nav-bar {
  box-shadow: 3px 2px 2px #212121;
  size: 100%;
  margin: 0px;
}

.nav-bar a{
  color: white;
}

.nav-bar ul{
  background-image: 
  linear-gradient(to right, #062958, #0A5DA4);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.flags img{
  max-width: 35px;
}

.my-name {
  margin: 10px 20px;
}

.foto-toni {
  border-radius: 100%;
  box-shadow: 3px 2px 2px #21212125;
}