* {
  margin: 0;
}

/* TAGS */

body {
  background-image: linear-gradient(white, #ececec);
  font-family:Roboto, sans-serif;
}

h1 {
  color: #062958;
  font-size: 36px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CLASSES */

.nav-bar {
  size: 100%;
  margin: 0px;
}

.nav-bar a{
  color: white;
}

.nav-bar ul{
  background-image: 
  linear-gradient(to right, #062958, #0A5DA4);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: end;
}

.sub-bar a, img{
  display: flex;
  text-align: end;
}

.flags {
  text-align: right;
}

.flags img{
  margin: 10px;
  max-width: 35px;
  text-align: end;
}